
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrinux Login</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <div class="login-container">
        <h1>Agrinux Login</h1>
        <form class="login-form" action="" method="POST">
            <div class="input-group">
                <input type="text" required>
                <label for="username">Username</label>
            </div>
            <div class="input-group">
                <input type="password" required>
                <label for="password">Password</label>
            </div>
            <a href="layout.html" type="submit">Login</a>
        </form>
    </div>
</body>
</html>
